cleanlab==2.7.1
dpu-utils==0.6.1
Flask-Cors==5.0.0
javalang==0.13.0
nltk==3.9.1
paho-mqtt==2.1.0
pip==25.0
pycocoevalcap==1.2
torch_scatter==2.1.2
torchaudio==2.6.0+cu126
torchvision==0.21.0+cu126
wheel==0.45.1